################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/AliceAspire.ApiService/bin/Debug/net8.0
/AliceAspire.ApiService/obj/Debug/net8.0/ref
/AliceAspire.ApiService/obj/Debug/net8.0/refint
/AliceAspire.ApiService/obj/Debug/net8.0/staticwebassets
/AliceAspire.ApiService/obj/Debug/net8.0
/AliceAspire.ApiService/obj/AliceAspire.ApiService.csproj.nuget.dgspec.json
/AliceAspire.ApiService/obj/AliceAspire.ApiService.csproj.nuget.g.props
/AliceAspire.ApiService/obj/AliceAspire.ApiService.csproj.nuget.g.targets
/AliceAspire.ApiService/obj/project.assets.json
/AliceAspire.ApiService/obj/project.nuget.cache
/AliceAspire.ApiService/obj/project.packagespec.json
/AliceAspire.ApiService/obj/rider.project.model.nuget.info
/AliceAspire.ApiService/obj/rider.project.restore.info
/AliceAspire.AppHost/bin/Debug/net8.0
/AliceAspire.AppHost/obj/Debug/net8.0/Aspire/references
/AliceAspire.AppHost/obj/Debug/net8.0/jsmodules
/AliceAspire.AppHost/obj/Debug/net8.0
/AliceAspire.AppHost/obj/AliceAspire.AppHost.csproj.nuget.dgspec.json
/AliceAspire.AppHost/obj/AliceAspire.AppHost.csproj.nuget.g.props
/AliceAspire.AppHost/obj/AliceAspire.AppHost.csproj.nuget.g.targets
/AliceAspire.AppHost/obj/project.assets.json
/AliceAspire.AppHost/obj/project.nuget.cache
/AliceAspire.AppHost/obj/project.packagespec.json
/AliceAspire.AppHost/obj/rider.project.model.nuget.info
/AliceAspire.AppHost/obj/rider.project.restore.info
/AliceAspire.ServiceDefaults/bin/Debug/net8.0
/AliceAspire.ServiceDefaults/obj/Debug/net8.0
/AliceAspire.ServiceDefaults/obj/AliceAspire.ServiceDefaults.csproj.nuget.dgspec.json
/AliceAspire.ServiceDefaults/obj/AliceAspire.ServiceDefaults.csproj.nuget.g.props
/AliceAspire.ServiceDefaults/obj/AliceAspire.ServiceDefaults.csproj.nuget.g.targets
/AliceAspire.ServiceDefaults/obj/project.assets.json
/AliceAspire.ServiceDefaults/obj/project.nuget.cache
/AliceAspire.ServiceDefaults/obj/project.packagespec.json
/AliceAspire.ServiceDefaults/obj/rider.project.model.nuget.info
/AliceAspire.ServiceDefaults/obj/rider.project.restore.info
/AliceAspire.Web/bin/Debug/net8.0
/AliceAspire.Web/obj/Debug/net8.0
/AliceAspire.Web/obj/AliceAspire.Web.csproj.nuget.dgspec.json
/AliceAspire.Web/obj/AliceAspire.Web.csproj.nuget.g.props
/AliceAspire.Web/obj/AliceAspire.Web.csproj.nuget.g.targets
/AliceAspire.Web/obj/project.assets.json
/AliceAspire.Web/obj/project.nuget.cache
/AliceAspire.Web/obj/project.packagespec.json
/AliceAspire.Web/obj/rider.project.model.nuget.info
/AliceAspire.Web/obj/rider.project.restore.info
/EventBus/obj
/EventBusRabbitMQ/obj
/.vs/AliceAspire/FileContentIndex
/.vs/AliceAspire/config
/.vs/AliceAspire/DesignTimeBuild
/.vs/AliceAspire/v17
/.idea/.idea.AliceAspire/.idea
/.vs/AliceAspire/solutionOpened
